[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rohilnain
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rohilnain
	label-Verified = -1..+1 group user/rohilnain
	push = group user/rohilnain
	read = group user/rohilnain
	rebase = group user/rohilnain
	removeReviewer = group user/rohilnain
	submit = group user/rohilnain
[access "refs/heads/*"]
	create = group user/rohilnain
	push = +force group user/rohilnain
	pushMerge = group user/rohilnain
	read = group user/rohilnain
[access "refs/tags/*"]
	push = group user/rohilnain
	push = +force group user/rohilnain
